table#data-table {
	width: 100%;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 0px;
/* 	border: 1px solid #898989; */
	border-collapse: separate;
}



table#data-table th {
	color: #F0F0F0;
	background-color: #909090;
	padding: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #898989;
	font-size: 14pt;
	color: #F0F0F0;
	min-width: 40px;
	padding: 10px 15px;
	text-align : center;
}

table#data-table td {
	color: #565656;
	background-color: #FAFAFA;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
	font-size: 10pt;
}

input[type="checkbox"] {
	margin: 10px;
width: 17px;
height: 17px;
}


table#data-table td.selected, th.selected {
	background-color : #559944 !important;
	color : white !important;
}