* 

body {
	margin: 0px;
	padding: 00px;
	background-color: #EEEEEE;
	background-image: url('../images/background.png');
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Overlock', cursive;
}

header {
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.85);
	color: #FAFAFA;
	padding: 40px 20px 30px 20px;
}

header h1 {
	margin: 0px;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

header h2 {
	margin: 0px;
	float: right;
	margin-right: 30px;
	margin-top: 0px;
	text-align: right;
}

header h2 small {
	font-size: 11pt;
	margin: 0px;
	padding-bottom: 20px;
}

div#error-box {
	color: #F0F0F0;
	background-color: #DD3322;
	padding: 10px;
	border-left: 220px solid #BB4433;
	cursor : pointer;
}

div#success-box {
	color: #F0F0F0;
	background-color: #44BB33;
	padding: 10px;
	border-left: 220px solid #559944;
	cursor : pointer;
}

div#menu {
	width: 220px;
	height: 600px;
	float: left;
	background-color: #F0F0F0;
}

div#data {
	float: right;
	width: calc(100% - 220px);
}

nav ul {
	display: block;
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: block;
	transition-duration: 0.1s;
	padding: 12px 20px 12px 38px;
	text-align: left;
	background-color: #787878;
	color: #F0F0F0;
	transition-duration: 1.2s;
	background-image: url('../images/radio-checked.png');
	background-repeat: no-repeat;
	background-position: 10px 16px;
	font-weight: bold;
	font-size: 16pt;
}

nav ul li:hover {
	background-color: #232323;
	transition-duration: 0.4s;
	cursor: pointer;
	position: relative;
}

nav ul li:hover:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 23px 0 23px 15px;
	border-color: transparent #232323;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -23px;
	right: -15px;
	top: 50%;
}

li#import-data {
	background-image: url('../images/table.png');
}

li#load-model {
	background-image: url('../images/folder-open.png');
}

li#save-model {
	background-image: url('../images/disk.png');
}

li#export-data-arff {
	background-image: url('../images/file-css.png');
}

li#export-data-csv {
	background-image: url('../images/libreoffice.png');
}

li#export-data-xls {
	background-image: url('../images/file-excel.png');
}

div#tip {
	clear: both;
	background-color: rgba(248, 248, 248, 0.95);
	border-bottom: 1px solid #C0C0C0;
	padding: 20px;
	color: #787878;
}

div#main_part {
	background-color: rgba(251, 251, 251, 0.85);
	min-height: 500px;
	padding: 0px;
}



div#table-container {
	height: 450px;
	overflow: hidden;
	padding: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 10px;
	float: left;
	width: calc(100% - 20px);
	margin: 10px;
}

div#table-container-outer {
	height: 510px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 80%;
	float: left;
	padding: 10px;
	background-color: #FFFFFF;
	border-bottom: 10px solid #FFFFFF;
}

div#toolbox {
	width: calc(20% - 40px);
	height: 520px;
	padding: 10px;
	margin: 0px;
	background-color: #FAFAFA;
	float: right;
}

#preprocessToolbox {
	margin: 10px;
	padding: 0px;
}

#preprocessToolbox li {
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	background-color: rgba(248, 248, 248, 0.95);
	border: 1px solid #C0C0C0;
}


footer {
	color: #F0F0F0;
	text-align: center;
	padding: 20px;
}

.cb {
	clear: both;
}

.dn {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}